<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/reveal.js/css/reveal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/reveal.js/css/theme/white.css') }}">
    <link rel="icon" type="image/png" sizes="32x32"  href="{{ url_for('static',filename='images/favicon-32x32.png') }}">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	<section>
	    <section>
	    Litigation expenses cost companies millions of dollars a year!
	    <canvas id="myChart"></canvas>
	    <small>2010 Conference on Civil Litigation<cite title="Litigation Cost Survey of Major Companies"></cite></small>
	    </section>
	    <section>
	      Slide 2
            </section>
	</section>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{{ url_for('static',filename='node_modules/reveal.js/js/reveal.js') }}"></script>
    <script>
      Reveal.initialize();
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
	      type: 'line',
	      data: {
		labels: ['2000','2001','2002','2003','2004','2005','2006','2007','2008'],
		datasets: [{
		  label: 'My First dataset',
		  borderColor: 'rgb(255, 99, 132)',
		  data: [66.4,79.7,91.4,109.4,101.0,104.4,118.7,116.6,114.9]
		}]
	      },
	      options: {
		legend: {
		  display: false,
		},
	        tooltips: {
		  mode: 'index',
		  axis: 'y'
		}
	      }
      });
    </script>
  </body>
</html>
