<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/reveal.js/css/reveal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/reveal.js/css/theme/white.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="32x32"  href="{{ url_for('static',filename='images/favicon-32x32.png') }}">
    <style>
     .reveal section img { background:none; border:none; box-shadow:none; }
    </style>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	    <section>
	    <section>
	    Litigation expenses cost companies millions of dollars a year!
	    </section>
            <section>
	      In 2008 the average Fortune 200 company spent $115 million dollars on litigation
	     <canvas data-chart="line">
	     <!--
	      {
	       "data": {
		"labels": ["2000","2001","2002","2003","2004","2005","2006","2007","2008"],
		"datasets": [{
		  "data": [66.4,79.7,91.4,109.4,101.0,104.4,118.7,116.6,114.9],
		  "label": "Fortune 100 Spending on Litigation","backgroundColor":"rgba(220,120,120,.8)"
		}]
	      },
	      "options": {"responsive": "true", "scales": { "yAxes": [{ "scaleLabel":{ "display":"true", "labelString": "Spendinf (Millions of $)"}}]} }
	     }
	     -->
	     </canvas>
	      <small>2010 Conference on Civil Litigation<cite title="Litigation Cost Survey of Major Companies"></cite></small>
            </section>
            <section>
	      A crucial component of winning a case is bringing it before the right judge.
	    </section>
	     <section>
	      <canvas data-chart="bar" data-chart-src="{{ url_for('static',filename='javascript/charts/criminal_probs_sorted.csv') }}">
	      <!--
		{
		  "data": {
		     "datasets" : [{ "backgroundColor": "#3773a3" } ]
		  },
		  "options": {"responsive": "true", "legend": {"display": "false"}, "scales": { "yAxes": [{ "gridLines":{ "display":"false"},"scaleLabel":{ "display":"true", "labelString": "Win Rate Criminal Cases"}}]} }
		}
	      -->
	      </canvas>
	      <small>From Carp-Manning Database</small>
	    </section>
	    <section>
	       <a href="/#predictor">Let's try it out!</a>    
            </section>
	    <section id="#howitworks">
	      Here's how it works!
            </section>
	    <section>
	       <img style="max-width:75%;" src="{{ url_for('static',filename='images/nlp_diagram_0.png') }}">
               <img class="fragment fade-in" style="max-width:75%;" src="{{ url_for('static',filename='images/nlp_diagram_2.png') }}">
               <img style="max-width:35%;" class="fragment fade-in" src="{{ url_for('static',filename='images/nlp_diagram_3.png') }}">
	    </section>
	    <section>
		    <h2> Future Work</h2>
		    <ul>
		        <li><h4>Building Classifiers</h4>
		           <ul>
			     <li>Build classifier to identify case type of decisions based only on textual data</li>
		           </ul>
		       </li>
	            </ul>
		    <img style="height:auto;" src="{{ url_for('static',filename='images/law_research.png') }}">
	    </section>
	  </section>
      </div>
    </div>
    <script src="{{ url_for('static',filename='node_modules/reveal.js/js/reveal.js') }}"></script>
    <script>
       Reveal.initialize({
         dependencies: [
	   { src: "{{ url_for('static',filename='node_modules/reveal.js/plugin/chart/Chart.min.js') }}"},
           { src: "{{ url_for('static',filename='node_modules/reveal.js/plugin/chart/csv2chart.js') }}"},,
	 ]
       });
    </script>
  </body>
</html>
