<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/reveal.js/css/reveal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/reveal.js/css/theme/white.css') }}">
    <link rel="icon" type="image/png" sizes="32x32"  href="{{ url_for('static',filename='images/favicon-32x32.png') }}">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	    <section>
	    Litigation expenses cost companies millions of dollars a year!
	    </section>
	    <section>
	      In 2008 the average Fortune 200 company spent $115 million dollars on litigation
	    </section>
	    <section>
            </section>
	    <section>
		<center>
		<div class="reveal" style="height=100vh;width=100wh;">
	          <canvas id="myChart"></canvas>
		</div>
		</center>
	    </section>
	    <section>
	    <small>2010 Conference on Civil Litigation<cite title="Litigation Cost Survey of Major Companies"></cite></small>
	    </section>
	    <section>
	      A crucial component of winning a case is bringing it before the right judge.
	    </section>
	    <section data-background-iframe="{{ url_for('static',filename='javascript/charts/criminal_court_win_chance.html') }}" data-background-interactive>
		    Win rates for criminal court cases by US District Courts.
		    <!--iframe src="{{ url_for('static',filename='javascript/charts/criminal_court_win_chance.html') }}" style="width=200wh;height:100vh;border:none;display:block" scrolling=no></iframe-->
            </section>
      </div>
    </div>
    <!--script src="https://cdn.pydata.org/bokeh/release/bokeh-2.0.1.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{{ url_for('static',filename='javascript/charts/chart1.js') }}"></script-->
    <script src="{{ url_for('static',filename='node_modules/reveal.js/js/reveal.js') }}"></script>
    <script>
       Reveal.initialize();
    </script>
  </body>
</html>
